header {
	position: relative;
	background: #3680d0 url(../img/header_sky.png) bottom left no-repeat;
	background-size: 100% !important;
	height: 100vh;
	min-height: 560px;

	h1 {
		margin: 0;
		color: #000;
		font-size: 127pt;
		text-align: center;
		position: absolute;
		width: 100%;
		top: 180px;

		@media (max-width: 500px) {
			font-size: 72pt;
		}

		strong {
			font-size: 29pt;
			display: block;
			text-transform: uppercase;

			@media (max-width: 500px) {
				font-size: 18pt;
			}
		}
	}

}