- var pageTitle = "Hello University of Texas"
- var site = "AguacateKun"
- var fbPreview = "http://aguacatekun.com/img/tx_university.png"
- var icoPath = "img/favicon.png"
- var icoBackground = "#222"
- var description = "University of Texas // CoverLetter"
- var viewPort = true
- var imgSufix = "img/"