- var pageTitle = "Hello Masonry"
- var site = "AguacateKun"
- var fbPreview = "http://aguacatekun.com/img/masonry.png"
- var icoPath = "img/favicon.png"
- var icoBackground = "#222"
- var description = "Masonry // CoverLetter"
- var viewPort = true
- var imgSufix = "img/"