doctype html
html
	head
		title Pixel Perfect Tree
		meta(charset='utf-8')
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(name="viewport", content="width=device-width")
		link(href="css/main.css", rel="stylesheet")
		link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
		link(rel='icon', type='image/png', href='img/icon.ico')
		include jade/analytics
	body
		aside.texture
		main
			section#woods
				.contrain
					span#plane.flying.normal
					.txtBox
						h1 The Pixel Proccess
					div#base
						img(src="img/pt_base.png").house.over
						img(src="img/pt_road.png").road.below

			section#mountains
				.contrain
					.txtBox
						h1 USER STORIES
						p We make sense of all of your requirements and use our expertise to bring you a clearer image of how great can your project be in the form of User Stories.
					img(src="img/pt_mountain.png").mountain_01
					img(src="img/pt_mountain.png").mountain_02

			section#sea
				.contrain
					.txtBox
						h1 DESIGN
						p Let’s go even further: The team is happy to bring your vision closer to life by creating a detailed layout for your project, putting our best to create outstanding Pixel Perfect interfaces with the user experience in mind.
					img(src="img/pt_boat_02.png").boat_02
					img(src="img/pt_turttle.png").turttle
					img(src="img/pt_whirlpool.png").whirlpool
					div#island
						img(src="img/pt_boat_01.png").boat_01
						img(src="img/pt_house.png").house_01
						img(src="img/pt_house.png").house_02
						img(src="img/pt_house.png").house_03
						img(src="img/pt_house.png").house_04

			section#sky
				div#cloudBarrier.over
				.contrain
					.txtBox
						h1 DEVELOPMENT
						p Besides using cutting-edge tools and technologies, our philosophy encourages constant learning of a wide array of technologies and disciplines, all in order to develop top-notch solutions to all of our customer’s needs.
					img(src="img/pt_cloud_01.png").cloud_01
					img(src="img/pt_cloud_02.png").cloud_02
					img(src="img/pt_cloud_01.png").cloud_03

			section#land
				div#cave
				.contrain
					.txtBox
						h1 DELIVERY
						p We gave you the best: Now what? Here at Pixel Project Tree we never stop working on improving. Be it maintenance, upgrading or starting a new project altogether, we plan to remain at your side as partners, bringing excellence to every new mission.
					img(src="img/pt_umbrella_01.png").umbrella_01
					img(src="img/pt_umbrella_02.png").umbrella_02
					img(src="img/pt_umbrella_01.png").umbrella_03
					img(src="img/pt_umbrella_02.png").umbrella_04
					