section.letter
	.container
		p hi!

		p My name is <em>Miguel Rivas</em>, a Web Designer born in Santo Domingo. I'm currently looking for more exciting career opportunities, and very interested in your team.

		p I've been working for a while developing websites for top brands such as Cerveza Presidente. It has been a really good journey but right now i'll like to expand my knowledge and explore best practices around the world.

		p I'm proficient in Ruby on Rails and PHP, and work with tools like Github, Jade/Haml, Sass/less.

		p I've attached my portfolio, codepen account, linkedin profile and e-mail.

		p I'm gonna be moving to Austin TX on November 27, looking forward to hearing from you. <em>:)</em>