aside#modal
	article.drlogic.info
		.container
			button.close
			h3 DrLogic

			.scrollContent
				p This was the second project that i worked at Pixel Perfect Tree. When it was given to me it was an empty frontend with the provided design and a defined <em>.env.sample</em> with a basic configuration of the ports, <em>gitignored</em>, ruby version and some initial gems like <em>haml-rails</em> and <em>autoprefixer</em>.

				p I installed the missing gems for <em>bootstrap</em>, <em>rail-sass</em> and proposed to the lead developer a new way to defined metadata for every project. I wasn't sure how to do that in my second project in ruby on rails but I had an idea because i made something similar in <em>Jade</em> for my portfolio and in <em>PHP</em> for Cerveza Presidente. the specifications were a function which gets all the parameters that metadata would need:

				ul
					li Page details
					li Page title
					li Keys for SEO
					li Icons in differents resolutions
					li URL for Open Graph image (Facebook Preview)

				p We agree and started an investigation for that issue them began to deploy a function similar but the parameters were in the translation file (something that was new for me but really handy). After that the project was ready to begin.

				p There were a few things missing in the design that i made and them implemented:

				ul
					li Page 404
					li Facebook Preview
					li Loading

				section.links
					a.infoBox(href="http://www.drlogic.com/", target="_blank")
						+imgTag( "drlogic.png" )
						.btn Go to DrLogic Home

	article.timeline.info
		.container
			button.close
			h3 Evolution of the Web
			.scrollContent
				p This project was a research about the evolution of the web based on the current technologist and their roots.

				p This is the first animated book on my portfolio.

				section.links
					a.infoBox(href="http://aguacatekun.com/project/timeline/", target="_blank")
						+imgTag( "evolution.jpg" )
						.btn Go to Evolution of the Web

					a.infoBox(href="http://aguacatekun.com/project/html-love/", target="_blank")
						+imgTag( "html-love.jpg" )
						.btn Go to HTML-Love

	article.videos.info
		.container
			button.close
			h3 Social Media Videos

			.scrollContent
				p A set of social media videos that were made while I was working as Frontend Developer at Capital DBG.
				p Most of them with the collaboration of art directors.

				section.links
					a.infoBox(href="https://vimeo.com/aguacatekun", target="_blank")
						+imgTag( "videos.jpg" )
						.btn Go to Video Gallery

	article.presidente.info
		.container
			button.close
			h3 Carnaval Presidente 2015

			.scrollContent
				p This was the first big project that i worked without the help of Backend Developers at Capital DBG.

				p When it was giving to me it was just the provided design, I build the project them the optimization began.

				p The specifications were made the website the fastest that it could because there was a lot of content. I resize all the images to the minimum width/height them optimized and made an special typography with all the icons needed.

				p After that i made individual loaders for every section and organize the info in a way that you will get the firsts sections at the begining then the galley start loading. this way you would see basic content at first while the gallery load.

				p Things that were missing in the design that i made and them implemented:

				ul
					li Facebook Preview
					li Loading

				section.links
					a.infoBox(href="http://presidente.com.do/carnaval/2015/home.php", target="_blank")
						+imgTag( "presidente.jpg" )
						.btn Go to Carnaval Presidente

					a.infoBox(href="http://aguacatekun.com/project/aniversario_loader/", target="_blank")
						+imgTag( "loader.jpg" )
						.btn Go to Presidente Loader Animation

	article.windows.info
		.container
			button.close
			h3 Prototypes

			.scrollContent
				h4 Windows Form

				p This project was my first which implement mixing in Jade and CSS 3D transformation (at the beginning this contact form was designed for a bakery store).

				h4 Gear Prototype

				p This project was made based on an analogue clock algorithm, but instead of being calculated between 60 (60 minutes) every point is calculated between 360 making the location of each more precisely.

				h4 Screen Prototype

				p This project was my first with hover only with CSS transitions.

				section.links
					a.infoBox(href="http://codepen.io/aguacatekun/pen/PqbqpL", target="_blank")
						+imgTag( "windows.jpg" )
						.btn Go to Windows Form

					a.infoBox(href="http://codepen.io/aguacatekun/pen/yNJJpG", target="_blank")
						+imgTag( "gear.jpg" )
						.btn Go to Gear Prototype

					a.infoBox(href="http://codepen.io/aguacatekun/pen/oXxPvw", target="_blank")
						+imgTag( "screen.jpg" )
						.btn Go to Screen Prototype