- var pageTitle = "Hello WePoll"
- var site = "AguacateKun"
- var fbPreview = "http://aguacatekun.com/img/wepoll.png"
- var icoPath = "img/favicon.png"
- var icoBackground = "#222"
- var description = "WePoll // CoverLetter"
- var viewPort = true
- var imgSufix = "img/"