- var pageTitle = "Hello Trivago"
- var site = "AguacateKun"
- var fbPreview = "http://aguacatekun.com/img/trivago.png"
- var icoPath = "img/favicon.png"
- var icoBackground = "#222"
- var description = "Trivago // CoverLetter"
- var viewPort = true
- var imgSufix = "img/culture_"